
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    background-color: #1D2026;
}

 ::-webkit-scrollbar{
    width: 8px;
    color:#b17b3d;
    transition: all .4s ease;
}

::-webkit-scrollbar-thumb {
    background: #b17b3d; 
    border-radius: 8px;
    width: 8px;
    transition: all .4s ease;
  }
::-webkit-scrollbar-track {
    background: #fff; 
    border-radius: 8px;
    width: 8px;
  } 

li, ol {
    list-style: none;
}

/*
Nav bar
*/

.navbar {
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
}

.navbar.color-n {
    background-color: #e0861f !important;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.navbar-nav .nav-item .nav-link.active {
    color: #fff;
  }

.container .navbar-brand {
    color: #FFF;
}

/*
Main
*/

.main-titulo{
    text-align: center;
    color: #e0861f;
    text-shadow: 0 0px 10px #e0861f;
}

.main-descripcion {
    text-align: center;
    color: #FFF;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/backgroud2.webp);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    overflow-x: hidden;
}

.contenedor-botones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-boton1 {
    margin-left: 5px;
    text-decoration: none;
    background-color: #e0861f;
    color: white;
    border: 1px solid #e0861f;
    border-radius: 5px;
    padding: 8px 16px;
}

.main-boton1:hover {
    background-color: transparent;
}

.main-boton2 {
    margin-left: 5px;
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid #e0861f;
    border-radius: 5px;
    padding: 8px 16px;
}

.main-boton2:hover {
    background-color: #e0861f;
}

.div-nuevo h3 {
    text-align: center;
    color: #e0861f;
    margin-bottom: 1rem;
}


/* Lo mas nuevo */

.contenedor-nuevo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.border-nuevo {
    border: solid 2px #fff;
    border-radius: 30px;
    margin-top: 10px;
    transition: border-color 0.3s, margin-top 0.3s;
    width: 340px; /* Ancho del contenedor */
    text-align: center;
    padding: 10px;
    margin-right: 10px;
}

.border-nuevo:hover {
    border-color: #e0861f;
    margin-top: 1px;
}

.border-nuevo img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    max-height: 250px; /* Altura máxima de la imagen */
    border-radius: 20px; /* Redondeo de las esquinas de la imagen */
}

.border-nuevo h4,h3 {
    color: #e0861f;
    text-align: center;
}

.border-nuevo span {
    display: block;
    text-align: center;
    font-size: 0.9rem;
    color: #e0861f;
    padding: 15px;
    position: relative;
    bottom: 15px;
}

.border-nuevo p {
    text-align: center;
}

.boton-nuevo {
    text-decoration: none;
    background-color: #e0861f;
    color: white;
    border: 1px solid #e0861f;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    padding: 8px 16px;
    position: relative;
    bottom: 10px;
  }

/*
 Camisetas y botines
*/

.volver-al-inicio {
    color: #e0861f;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 5px;
}

div ul {
    text-align: center;
    list-style: none;
}

button {
    cursor: pointer;
}

/*
FAQ
*/

.faq h3 {
    color: #e0861f;
    text-align: center;
}

.faq p {
    text-align: center;
}

/*
Footer
*/

footer {
    background-color: #e0861f;
}

footer div button {
    text-decoration: none;
    background-color: #fff;
    color: #e0861f;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    padding: 8px 16px;
    position: relative;
    bottom: 10px;
}

footer h4 {
    color: #1D2026;
    font-size: 1.5rem;
    text-align: center;
}

footer div a {
    text-decoration: none;
}

.contenedor-redes {
    display: flex;
    justify-content: center;
}

.redes {
    margin: 0.5rem;
    font-size: 20px;
    padding: 5px 10px;
    border: solid 1px #e0861f;
    border-radius: 50%;
    background-color: #1D2026;
    color:#e0861f;
}

.redes:hover {
    background-color: #000000;
    opacity: 1;
}

.contenedor-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    background-color: #e0861f;
    margin: 0 auto;
    padding: 1rem;
    list-style: none;
}

.footer-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.footer-titulo a {
    text-decoration: none;
    color: #fff;
}

.footer-acercade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.footer-listas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.footer-listas li a {
    text-decoration: none;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

.footer-listas li a:hover {
    text-decoration: none;
    color: #1D2026;
}

.footer-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-footer h5 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

/* 
Animación 
*/

.animacion-titulos {
    animation: animacion 1s infinite ease-in-out alternate;
    -webkit-animation:animacion 1s infinite ease-in-out alternate;
}

@keyframes animacion {
    100% {
        transform: translateY(5px);
        -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
        -o-trasnform: translateY(5px);
    }
}

/* 
MediasQueries 
*/

@media (min-width: 320px) {
    .contenedor-nuevo {
      flex-wrap: wrap;
    }
  }

  @media (min-width: 768px) and (max-width: 992px) {
    .contenedor-footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "titulo titulo titulo" "acercade productos contacto"
    }

    .footer-titulo {
        grid-area: titulo;
    }

    .footer-acercade {
        grid-area: acercade;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-productos {
        grid-area: productos;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-contacto {
        grid-area: contacto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .contenedor-footer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "titulo acercade" "productos contacto"
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .contenedor-footer {
        grid-template-columns: 1fr;
        grid-template-areas: "titulo "acercade" "productos" contacto"
    }
}