body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* ::-webkit-scrollbar{
    width: 8px;
    color:#b17b3d;
    transition: all .4s ease;
}

::-webkit-scrollbar-thumb {
    background: #b17b3d; 
    border-radius: 8px;
    width: 8px;
    transition: all .4s ease;
  }
::-webkit-scrollbar-track {
    background: #fff; 
    border-radius: 8px;
    width: 8px;
  } */

li, ol {
    list-style: none;
}

/*
Nav bar
*/
.navbar.color-n {
    background-color: #af7d44 !important;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.navbar-nav .nav-item .nav-link.active {
    color: #fff;
  }

.container .navbar-brand {
    color: #FFF;
}

.navbar-toggler-icon {
    color: #000000;
}

.navbar-toggler {
    background-color: #000000;
}

/*
Main
*/

.main-titulo{
    text-align: center;
    color: #af7d44;
    text-shadow: 0 0px 10px #af7d44;
}

.main-descripcion {
    text-align: center;
    color: #FFF;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/backgroud2.webp);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}

.contenedor-botones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-boton1 {
    margin-left: 5px;
    text-decoration: none;
    background-color: #af7d44;
    color: white;
    border: 1px solid #af7d44;
    border-radius: 5px;
    padding: 8px 16px;
}

.main-boton1:hover {
    background-color: transparent;
}

.main-boton2 {
    margin-left: 5px;
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid #af7d44;
    border-radius: 5px;
    padding: 8px 16px;
}

.main-boton2:hover {
    background-color: #af7d44;
}

.div-nuevo h3 {
    text-align: center;
    color: #af7d44;
    margin-bottom: 1rem;
}


/* Lo mas nuevo */

.contenedor-nuevo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.border-nuevo {
    border: solid 2px #fff;
    border-radius: 30px;
    margin-top: 10px;
    transition: border-color 0.3s, margin-top 0.3s;
    width: 340px; /* Ancho del contenedor */
    text-align: center;
    padding: 10px;
}

.border-nuevo:hover {
    border-color: #af7d44;
    margin-top: 1px;
}

.border-nuevo img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    max-height: 250px; /* Altura máxima de la imagen */
    border-radius: 20px; /* Redondeo de las esquinas de la imagen */
}

.border-nuevo h4,h3 {
    color: #af7d44;
    text-align: center;
}

.border-nuevo span {
    display: block;
    text-align: center;
    font-size: 0.9rem;
    color: #af7d44;
    padding: 15px;
    position: relative;
    bottom: 15px;
}

.border-nuevo p {
    text-align: center;
}

.boton-nuevo {
    text-decoration: none;
    background-color: #af7d44;
    color: white;
    border: 1px solid #af7d44;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    padding: 8px 16px;
    position: relative;
    bottom: 10px;
  }

.volver-al-inicio {
    color: #af7d44;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 5px;
}

div ul {
    text-align: center;
    list-style: none;
}

button {
    cursor: pointer;
}

/*
FAQ
*/
.faq h3 {
    color: #af7d44;
    text-align: center;
}

.faq p {
    text-align: center;
}


/*
Footer
*/
footer {
    background-color: #af7d44;
}

footer div button {
    text-decoration: none;
    background-color: #fff;
    color: #af7d44;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    padding: 8px 16px;
    position: relative;
    bottom: 10px;
}

footer h4 {
    color: #1D2026;
    font-size: 1.5rem;
    text-align: center;
}

footer div a {
    text-decoration: none;
}

.contenedor-redes {
    display: flex;
    justify-content: center;
}

.redes {
    margin: 0.5rem;
    font-size: 20px;
    padding: 5px 10px;
    border: solid 1px #af7d44;
    border-radius: 50%;
    background-color: #1D2026;
    color:#af7d44;
}

.redes:hover {
    background-color: #000000;
    opacity: 1;
}

.animacion-titulos {
    animation: anime 1s infinite ease-in-out alternate;
    -webkit-animation:anime 1s infinite ease-in-out alternate;
}

@keyframes anime {
    100% {
        transform: translateY(5px);
        -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
        -o-trasnform: translateY(5px);
    }
}

@media (min-width: 320px) {
    .contenedor-nuevo {
      flex-wrap: wrap;
    }
  }