<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto</title>
  <link rel="stylesheet" href="../css/styles.css">
  <script src="https://kit.fontawesome.com/3c88a73403.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <h1>Locos por el fútbol</h1>
    <nav>
        <ul>
          <li><a href="../index.html">Inicio</a></li>
            <li><a href="">Camisetas</a>
                <ul><a href="./remerasretros.html">Retro</a></ul>
                <ul><a href="./remerasactuales.html">Actuales</a></ul>
            </li>
            <li><a href="./botines.html">Botines</a></li>
            <li><a href="./faq.html">FAQ</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
        </ul>
    </nav>
</header>


  <main>
    <section>
      <a class="volver-al-inicio" href="../index.html"><i class="fa-solid fa-arrow-left volver-al-inicio" ></i>Inicio</a>
      <h2>Contacto</h2>
      <hr>
      <form>

        <div>
          <label for="nombrecompleto">Ingrese su nombre completo<input id="nombrecompleto" type="text"
              name="nombrecompelto" placeholder="Escribe tu nombre aqui!" required></label>
        </div>

        <div>
          <label for="email">Ingrese su correo<input id="email" type="email" name="email"
              placeholder="Escribe tu email aqui!" required></label>
        </div>

        <div>
          <label for="text">Ingresa su mensaje!</label>
          <textarea name="mensaje" id="text" placeholder="Escribe tu mensaje aqui!" required></textarea>
        </div>

        <div>
          <label for="nov">Quiere recibir novedades?</label>
          <input type="checkbox" name="" id="nov">
        </div>

        <div>
          <input type="submit" name="Enviar" value="Enviar">
          <input type="reset" value="Reset">
        </div>
      </form>
    </section>

  </main>

  <footer>
    <div>
        <h4>Necesitas ayuda?</h4>
        <button>Contacto</button>
    </div>


    <h4>Locos por el futbol</h4>
    <div class="redes">
      <a class="redes" href="" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      <a class="redes" href="" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a class="redes" href="" target="_blank"><i class="fa-brands fa-twitter"></i></a>
      <a class="redes" href="" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
  </div>

</footer>


</body>

</html>