<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://kit.fontawesome.com/3c88a73403.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<body>
    <header class="navbar navbar-expand-md bg-body-tertiary color-n">
        <div class="container">
          <a class="navbar-brand" href="#">Locos por el fútbol</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          Camisetas
                      </a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="./remerasactuales.html">Actuales</a></li>
                          <li><a class="dropdown-item" href="./remerasretros.html">Retros</a></li>
                      </ul>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./botines.html">Botines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="./faq.html">FAQ</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./contacto.html">Contacto</a>
                  </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <a class="volver-al-inicio" href="../index.html"><i class="fa-solid fa-arrow-left volver-al-inicio" ></i>Inicio</a>
            <h2>FAQ (Preguntas frecuentes)</h2>
            <hr>

        <section>
            <div class="faq">
            <h3>Pregunta 1</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, voluptate!</p>
            <h3>Pregunta 2</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, voluptate!</p>
            <h3>Pregunta 3</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, voluptate!</p>
            <h3>Pregunta 4</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, voluptate!</p>
            <h3>Pregunta 5</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, voluptate!</p>
            <h3>Pregunta 6</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, voluptate!</p>
            </div>
        </section>
    </main>


    <footer>
        <div>
            <h4>Necesitas ayuda?</h4>
            <button class="btn2">Contacto</button>
        </div>


        <h4>Locos por el futbol</h4>
        <div class="contenedor-redes">
            <a class="redes" href="" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a class="redes" href="" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a class="redes" href="" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a class="redes" href="" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</html>