.contenedor {
    @include flex-column-y-center;
    background-image: url(../images/backgroud2.jpg);
    background-attachment: fixed;
    height: 75vh;
    overflow-clip-margin: content-box;

    &__titulo {
      text-align: center;
      color: $color-naranja-principal;
      text-shadow: 0 0px 10px $color-naranja-principal;
    }

    &__descripcion {
      text-align: center;
      color: $color-blanco;
    }

    &__botones {
      @include flex-center;
    }
  }

  .div__lomasnuevo h3 {
    text-align: center;
    color: $color-naranja-principal;
    margin-bottom: 1rem;
  }